@import "/css/theme.css";

html {
  font-size: 62.5%;
}

main {
  padding: 2.2rem;
}

header {
  background-color: var(--background-color);
}

body {
  font-size: 1.6rem;
  color: #000;
  background-color: var(--background-color);
}

a {
  color: black;
  font-weight: 700;

  text-decoration: none;

  &:hover,
  &.active {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 0.5rem;
  }

  &:hover {
    text-decoration-color: var(--primary-color-hover);
  }

  &:visited {
    color: var(--secondary-color);
  }
}

nav {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    margin: 1rem;

    &:hover,
    &.active {
      text-decoration-thickness: 0.5rem;
    }

    svg {
      color: var(--primary-color);
      width: 1em;
    }

  }

}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  color: var(--secondary-color);
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo {
  position: sticky;
  top: 0;

  a {
    font-weight: bold;
    color: #000;
    text-decoration: none;

  }
}


blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 0.25rem solid var(--primary-color);
}

hr {
  border: 0.25rem solid var(--primary-color);
}

@media (max-width: 319px) {
  body {
    margin: 0;
  }


  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .logo {
    text-align: center;
    background-color: var(--primary-color);
    padding: 2rem;
  }

  .logo a {
    font-size: 2.4rem;
  }

  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    margin: 0;
  }

  header {
    margin: 0 0 3.2rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .logo {
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;
  }

  .logo a {
    font-size: 2.4rem;
  }

  nav a {
    display: inline;
  }
}

@media (min-width: 640px) {
  main {
    padding: 0 2.2rem;
  }

  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }

  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }

  nav {
    margin: 0;
    text-align: right;
    display: block;

    a {
      margin: 0 0 0 1.2rem;
      display: inline;

      &[target='_blank'] {
        border-left: 0.5rem solid var(--primary-color);
        padding-left: 1rem;
      }
    }
  }


  footer {
    text-align: right;
  }

  .logo {
    margin: 0;
    text-align: left;
    background-color: var(--background-color);
  }

  .logo a {
    font-family: sans;
    text-decoration: underline;
    flex-grow: 1;
    font-size: 2.8rem;

    span {
      text-decoration: underline;
      color: var(--primary-color);
    }
  }
}
