pre.sourceCode {
  counter-reset: line;
  background-color: #F5FCFF;

  code {
    background-color: #F5FCFF;
    color: #268BD2;

    & > span {
      margin: 2rem;
      &:hover {
        width: 100%;
        background-color: rgba(255, 255, 0, 0.5);

      }

      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        padding: 0 0.5rem;
        margin-right: 0.5rem;
      }
    }

  }

  /* Tokens from Skylighting.
   * See: https://github.com/jgm/skylighting/blob/master/skylighting-core/src/Skylighting/Styles.hs 
   */

  /* KeyWordTok */
  .kw {
    color: rgb(31, 28, 27);
    font-weight: 700;
  }

  /* DataTypeTok */
  .dt {
    color: rgb(0, 87, 174);
  }

  /* DecValTok (decimal value), BaseNTok, FloatTok */
  .dv,
  .bn,
  .fl {
    color: rgb(176, 128, 0);
  }

  /* ConstantTok */
  .cn {
    color: rgb();
  }

  /* CharTok */
  .ch {
    color: rgb(170, 85, 0);
  }

  /* SpecialCharTok */
  .sc {
    color: rgb();
  }

  /* StringTok */
  .st {
    color: rgb(191, 3, 3)
  }

  /* VerbatimStringTok */
  .vs {
    color: rgb();
  }
  /* SpecialStringTok */

  .sc {
    color: rgb();
  }
  /* ImportTok */
  .im {
    color: rgb();
  }

  /* CommentTok */
  .co {
    color: rgb(137, 136, 135);
  }

  /* DocumentationTok */
  .do {
    color: rgb();
  }
  /* AnnotationTok */
  .an {
    color: rgb();
  }
  /* CommentVarTok */
  .cv {
    color: rgb();
  }

  /* OtherTok */
  .ot {
    color: rgb(0, 110, 40);
  }

  /* FunctionTok */
  .fu {
    color: rgb(100, 74, 155);
  }

  /* VariableTok */
  .va {
    color: rgb();
  }
  /* ControlFlowTok */
  /* OperatorTok */
  .op {
    color: rgb();
  }
  /* BuiltInTok */
  .bu {
    color: rgb(100, 74, 155);
    font-weight: 700;
  }
  /* ExtensionTok */
  /* PreprocessorTok */
  .pp {
    color: rgb();
  }
  /* AttributeTok */
  .at {
    color: rgb();
  }

  /* RegionMarkerTok */
  .re {
    color: rgb(0, 87, 174jj)
  }

  /* InformationTok */
  .in {
    color: rgb();
  }
  /* WarningTok */
  .wa {
    color: rgb();
  }
  /* AlertTok */
  .al {
    color: #A6E22E;
    font-weight: bold;
  }

  /* ErrorTok */
  .sourceCode .er {
    color: #E6DB74;
    font-weight: bold;
  }

  /* NormalTok is not marked up */

}
