pre.sourceCode {
  counter-reset: line;
  background-color: #F5FCFF;

  code {
    background-color: #F5FCFF;
    color: #268BD2;

    & > span {
      margin: 2rem;
      &:hover {
        width: 100%;
        background-color: rgba(255, 255, 0, 0.5);

      }

      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        padding: 0 0.5rem;
        margin-right: 0.5rem;
      }
    }

  }


  /* KeyWordTok */
  .kw {
    color: #600095;
  }

  /* DataTypeTok */
  .dt {
    color: #268BD2;
  }

  /* DecValTok (decimal value), BaseNTok, FloatTok */
  .dv,
  .bn,
  .fl {
    color: #AE81FF;
  }

  /* CharTok */
  .ch {
    color: #37ad2d;
  }

  /* StringTok */
  .st {
    color: #37ad2d;
  }

  /* CommentTok */
  .co {
    color: #7E8E91;
  }

  /* OtherTok */
  .ot {
    color: #EB005B;
  }

  /* AlertTok */
  .al {
    color: #A6E22E;
    font-weight: bold;
  }

  /* FunctionTok */
  .fu {
    color: #333;
  }

  /* RegionMarkerTok */
  .re {}

  /* ErrorTok */
  .sourceCode .er {
    color: #E6DB74;
    font-weight: bold;
  }

}
